$primaryFont: 'Montserrat', sans-serif;
$secondaryFont:'Lato', sans-serif;
$blue: #2c314f;
$teal: #7acdcf;
$white: #efeee9;
$grey: #aaa;
$black: #1b1d28;

.headerDark {
    color: white;
}

.darkContainer{
    margin-left:7%;
    margin-right:7%;
    background-color:#1b1d28;
    padding-bottom:50px;
}

.darkMsg{
    background-color:#2c314f;
    color:white;
    overflow:auto;
    margin: 10px 35px 10px 10px;
    border-radius:20px;
    padding: 5px;
    font-family: $secondaryFont;  


}



.darkButton{
    background: #7acdcf;
    border:2px solid #7acdcf;
    color: black;
}

button:hover{
    background: #2c314f;
    color:white;
    border: 2px solid #2c314f;
    
}

.darkP {
    color: white;
}

.deleteDark {
    background-color: $teal;
    font-size: 6px;
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 7px;
    border: 1px solid #2c314f;
    width: 10px;
    padding: 2px 12px 2px 7px;
    text-align: center;
}

.deleteDark:hover{
    border:1px solid #2c314f;
    font-size:6px;
}