$primaryFont: 'Montserrat', sans-serif;
$secondaryFont:'Lato', sans-serif;
$blue: #2c314f;
$teal: #7acdcf;
$white: #efeee9;
$grey: #aaa;
$black: #1b1d28;

h1 {
    font-family: $primaryFont;
    font-size: 70px;
}

h2 {
    font-family: $primaryFont;
    font-size: 55px;
}

h3 {
    font-family: $primaryFont;
    font-size: 40px;
}
h4 {
    font-family: $primaryFont;
    font-size: 24px;
}

p li {
font-family: $secondaryFont;
font-size: 17px;
}

p {
    font-family: $secondaryFont;
    font-size: 19px;
}

p .bold {
    font-family: $secondaryFont;
    font-size: 19px;
    font-weight: bold;
}

button{
    background: #7acdcf;
    border-radius: 60px;
    font-family: $secondaryFont;
    color: #ffffff;
    font-size: 16px;
    background: #7acdcf;
    padding: 4px 30px 4px 30px;
    border:none;

}

button:hover {
    font-size: 16px;
    background: #ffffff;
    color:#7acdcf;
    border:2px solid #7acdcf
  }
