@import "_variables";
@import "_dark";
@import "_nav";
@import "_chatbox";
@import "_button.scss";

body {
    background-color:#7acdcf;
    padding-bottom:25px;

}

.container{
    margin: auto;
    background-color:white;
    padding: 0 0 50px 0;
}

main {
    margin: 0px 25px 10px;
    padding-top: 230px;
}

h1 {
    font-family: $primaryFont;
    font-size: 70px;
}

h2 {
    font-family: $primaryFont;
    font-size: 55px;
}

h3 {
    font-family: $primaryFont;
    font-size: 40px;
}
h4 {
    font-family: $primaryFont;
    font-size: 24px;
}

p li {
font-family: $secondaryFont;
font-size: 17px;
}

p {
    font-family: $secondaryFont;
    font-size: 19px;
}

p .bold {
    font-family: $secondaryFont;
    font-size: 19px;
    font-weight: bold;
}

.sidebar{
    float:right;
}

.msg-text{
    float:left;
    margin-left:10px;
    padding-top:10px;

}

.msg-text p{
    font-size:16px;
    font-family: $secondaryFont;
}
.delete{
    font-size:6px;
    display:inline-block;
    float:right;
    margin-top:15px;
    margin-right:7px;
    border:1px solid #2c314f;
    width:10px;
    padding:2px 12px 2px 7px;
    text-align:center;

}

.delete:hover{
    border:1px solid #2c314f;
    font-size:6px;
}

#user-submit{
    background: #7acdcf;
    border-radius: 60px;
    font-family: $secondaryFont;
    color: #ffffff;
    font-size: 16px;
    padding: 4px 30px 4px 30px;
    margin:5px;
    border:none;
    display:inline-block;
    border:2px solid #7acdcf
}

#user-submit:hover{
    font-size: 16px;
    background: #ffffff;
    color:#7acdcf;
    border:2px solid #7acdcf
}

